[submodule "themes/confliction"]
	path = themes/confliction
	url = git@github.com:rajshrimohanks/confliction.git
[submodule "themes/coder"]
	path = themes/coder
	url = git@github.com:luizdepra/hugo-coder.git
